@font-face {
    font-family: 'GraphikLCG';
    font-weight: 400;
    font-style: normal;
    src:    local('GraphikLCG'),
            url('./fonts/GraphikLCG-Regular.ttf') format('ttf'),
            url('./fonts/GraphikLCG-Regular.woff') format('woff'),
            url('./fonts/GraphikLCG-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'GraphikLCG';
    font-weight: 600;
    font-style: normal;
    src:    local('GraphikLCG'),
            url('./fonts/GraphikLCG-Semibold.ttf') format('ttf'),
            url('./fonts/GraphikLCG-Semibold.woff') format('woff'),
            url('./fonts/GraphikLCG-Semibold.woff2') format('woff2');
    font-display: swap;
}



